<!-- wp:template-part {"slug":"header","theme":"gutenberg-vortrag"} /-->

<!-- wp:group {"style":{"spacing":{"padding":{"top":"4em","right":"4em","bottom":"4em","left":"4em"}}},"backgroundColor":"foreground","textColor":"background"} -->
<div class="wp-block-group has-background-color has-foreground-background-color has-text-color has-background" style="padding-top:4em;padding-right:4em;padding-bottom:4em;padding-left:4em"><!-- wp:columns -->
	<div class="wp-block-columns"><!-- wp:column -->
	<div class="wp-block-column"><!-- wp:heading -->
	<h2>Lorem Ipsum</h2>
	<!-- /wp:heading -->
	
	<!-- wp:paragraph -->
	<p><strong>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. <br></strong><br>Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor.</p>
	<!-- /wp:paragraph --></div>
	<!-- /wp:column -->
	
	<!-- wp:column -->
	<div class="wp-block-column"><!-- wp:heading -->
	<h2>Test</h2>
	<!-- /wp:heading -->
	
	<!-- wp:paragraph -->
	<p>Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor.</p>
	<!-- /wp:paragraph -->
	
	<!-- wp:paragraph -->
	<p>Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor.</p>
	<!-- /wp:paragraph --></div>
	<!-- /wp:column --></div>
	<!-- /wp:columns --></div>
	<!-- /wp:group -->
	
	<!-- wp:template-part {"slug":"footer","theme":"gutenberg-vortrag"} /-->